[2020-07-25 15:14] FroggyFlox opened #1 "[Repositories] Update shells repo to 15.2"
It appears that the `shells` repo needed for Shellinabox is now available for Leap 15.2 (x86_64 only, though), so we might be able to update the current one we use (Leap 15.1):
http://download.opensuse.org/repositories/shells/openSUSE_Leap_15.2/

The shellinabox version appears identical:

#### Leap 15.2
http://download.opensuse.org/repositories/shells/openSUSE_Leap_15.2/x86_64/shellinabox-2.20+gi

[2020-07-25 15:46] phillxnet commented on #1
@FroggyFlox Thanks. I'll have a quick look at this one so I can test the new repo against our back-end pr testing setup on something that is hopefully fairly straight forward.

[2020-07-25 15:51] phillxnet commented on #1
Shells shellinabox OBS page for references:
https://build.opensuse.org/package/show/shells/shellinabox

[2020-07-25 18:44] #1 closed

[2020-08-03 10:15] phillxnet opened #3 "add config/repo retrieval section to readme"
Our in-repo instructions should be as accessible as possible and they currently assume "git clone" knowledge. There is not good reason for this, i.e. it is not a pre-requisite for DIY NAS enthusiasts like say how to attache a SATA drive is. As such this issue proposes to add a simple short 'config retrieval' section to address this omission in our README.md file so that improve our accessible outs

[2020-08-03 10:15] phillxnet commented on #3
I am currently preparing a pull request to address this issue.

[2020-08-03 11:02] #3 closed

[2020-08-04 17:26] FroggyFlox opened #5 "[README] kiwi-ng command refers to different profile than announced"
A small, non-breaking typo in the README.md instructs to using the `Leap15.1` profile rather than `Leap15.2` as the header of the section describes.
https://github.com/rockstor/rockstor-installer#leap152x86_64-profile

Although both are valid, we might want to fix this typo for consistency.

[2020-08-04 19:34] phillxnet commented on #5
@FroggyFlox Thanks for this one. That was a silly mistake on my behalf.
Having a look at this now.

[2020-08-04 19:46] phillxnet commented on #5
@FroggyFlox Well spotted, I think I'd copied and pasted from the wrong buildbot run. Silly mistake.

Thanks again for reporting this. All sorted now.

[2020-08-11 10:24] mcbridematt opened #7 "Add support for 64-bit ARM standard/EFI Systems"
This is to support 64-bit ARM systems that implement the [Embedded Boot](https://github.com/ARM-software/ebbr) or [https://github.com/ARM-software/sbsa-acs](Server boot) standard - the basic gist is that these systems follow a PC style boot flow using EFI and (typically) Grub2.

With some tweaks it might be possible to use this for the Raspberry Pi 3 and 4 as openSuSE embeds a copy of U-Boot to im

[2020-08-11 10:29] mcbridematt commented on #7
See pull request #8

[2020-08-15 16:32] phillxnet opened #9 "[Repositories] include our OBS repo in the final image"
Currently the following repo is used during installer image build but not included in the final installer; this looks to be an error of omission and may hinder / overly complicate distro updates in the future:

https://build.opensuse.org/package/show/home:rockstor:branches:Base:System/systemd-presets-branding-rockstor

An Indication of it's requirement is seen in the distro update 'walk through' r

[2020-08-15 16:34] phillxnet commented on #9
I propose to address this issue shortly.

[2020-08-16 18:25] phillxnet opened #10 "Pin Rockstor package version"
In this repo we currently build from the latest version available in testing. This is currently not a problem as our testing is in release candidate phase ready for imminent promotion to the  stable channel. But there after, as the testing channel readopts it's name sake purpose we need to pin the testing rpm version used in this repo to a known good release candidate or release version.

It is pr

[2020-08-22 11:37] phillxnet opened #14 "Tidy up of initial login message"
At the end of the initial install process we are greeted with the following:

Although this is already long, it is proposed here that we split the "Your Web-UI ..." section thus:

as this makes it easier, at a glance, to pick out the key quoted systemd line, and only adds one more line to the existing output.

[2020-08-22 14:15] phillxnet opened #15 "add GPG keys for newly added repositories"
Since "(Repositories) include our OBS repo in the final image. Fixes #9 #11" we have at least one additional repository. All our previous image repositories had their GPG keys auto imported. It is proposed that we do, like-wise, with these newly added repos.

## Package repositories in question:
### added by referenced pr:
- https://build.opensuse.org/package/show/home:rockstor:branches:Base:Syste

[2020-08-22 17:05] phillxnet opened #16 "Improve pre-edit default for image 'name'"
In some cases, where the suggested pre-edit suggestion is skipped, the current resulting image results in inelegant and uninformative installer image names, e.g,:

and similarly named Grub entries thus:

![Grub-text-issue](https://user-images.githubusercontent.com/2521585/90961427-d228a200-e4a0-11ea-8aea-e87ed694ee31.png)

and likewise strangely texted raw image progress screen of:

![raw-write-te

[2020-08-22 19:29] #14 closed, assigned to nobody

[2020-08-22 20:23] #16 closed, assigned to nobody

[2020-08-23 16:35] #15 closed, assigned to phillxnet

[2020-09-01 10:40] phillxnet opened #20 "Update top level readme re outdated Ten64 profile"
Our top level readme, which will be seen by most folks, needs to be updated to acomodate for our dropping the Ten64 profile in preference for the more generic ARM64EFI. ~~We should also now reference our newly added vagrant 'wrapper'.~~

[2020-09-13 08:44] phillxnet opened #21 "Remove Leap15.1 profiles"
As we near our Rockstor 4 re-launch, which is specified as 'Built on openSUSE Leap 15.2' and given our move to multi arch, the recent inclusion of a couple of aarch64 targets (Pi4 & ARM64EFI), it is proposed that we remove the Leap 15.1 profiles. This proposal is in the light of Leap 15.0 & 15.1 having served as our run-up to the Rockstor 4 release on a 15.2 base, and the fact that in 2 months tim

[2020-09-13 10:55] phillxnet commented on #21
Adding references for the Jump initiative:
https://en.opensuse.org/Portal:Jump
https://en.opensuse.org/Portal:Leap/FAQ/ClosingTheLeapGap
https://progress.opensuse.org/projects/jump_152/issues
https://en.opensuse.org/Portal:Jump/Kernel

[2020-09-30 16:04] magicalyak opened #24 "Increase 500GB install drive limit"
Currently you need a drive under 500GB to install 4.0.2 and this is confusing for new users.  Sometimes the install drive will be bigger (as in my case) because I have spare drives that aren't being used and one is 4TB.  I propose increasing the hard drive limit to 5TB and give users the choice to install there or not (the drives will show up before install overwrites them and this is normal behav

[2020-09-30 18:36] #24 closed

[2020-10-02 13:47] phillxnet opened #26 "add potentially missing required dependencies affects Vagrant method and Pi4-Arm64 profiles"
Thanks originally to @mikemonkers and to forum member GeoffA for highlighting potentially missing packages.

It seems that some official Leap 15.2 images for the Pi4 and some Vagrant images do not have, pre-installed, the following requied packages:
[code]
With these packages not installed the resulting .raw file is incomplete and will fail to build. This is easier to spot in the x86_64 world as t

[2020-10-02 13:54] phillxnet commented on #26
The proposed change to the top level readme would be to replace:
[code]
with
[code]

[2020-10-02 13:55] phillxnet commented on #26
I am preparing a pull request to address this issue.

[2020-10-02 14:17] #26 closed

[2020-10-02 14:21] phillxnet commented on #20
I am currently working on this issue.

[2020-10-02 14:38] phillxnet commented on #20
I've droped the vagrant update to this issue as it belongs in it's own issue and would otherwise delay the Ten64 updates that are particularly important given they have just released their campaign.

[2020-10-02 16:12] #20 closed

[2020-10-04 14:55] phillxnet opened #29 "failures when installing on a system with an existing Rockstor install"
It has been observed that when installing on a system that already has a Rocsktor install on another disk, the resulting installer will:

1: fail to run the JeOS first boot wizard (Locale, Keyboard Layout, License Agreement, Time Zone, 'root' user pass).
2: fail to start the Rockstor services as Postgresql is not auto started.

This looks to be caused by some systems reading their config form the

[2020-10-04 19:18] phillxnet opened #30 "Recent regression re "openSUSE" in grub boot menu"
When using more recent versions of kiwi-ng there is an apparent regression where the resulting Rockstor install no longer displays the intended "Rockstor-NAS" / "Rocsktor-Leap15.2-RaspberryPi4 [ OEM ]" etc grub boot options, depending on if the suggested edit of "name=" was carried out.

The issue has been tracked down to a change in behaviour of kiwi-ng itself. An exemplary and informative run do

[2020-10-05 13:13] phillxnet commented on #30
I am currently working on this issue.

[2020-10-05 19:36] phillxnet commented on #30
I have an apparently working/workable workaround to this issue in final testing. I hope to present a pull request shortly.

[2020-10-06 16:28] phillxnet commented on #30
Apologies for the delay on this one. Pull reqeust now in and soon to be merged. I took a rather long path to discover the eventual relatively simple default config addition that served our purpose there.

[2020-10-06 17:09] phillxnet opened #32 "NetworkManager-wait-online can fail on slower machines"
On some low power devices, i.e Pi4 / Ten64, and slower/older x86_64 machines, the default Network Manager wait online service leaves insufficient time before 'declaring' to it's dependants that no online state is available. This false negative on online status can lead to dependants, i.e. KVM installs or Hashicorp Vault instances, failing to start as their dependency of online state was not indica

[2020-10-06 17:25] phillxnet commented on #32
Current setting can be retrieved via:
[code]
And assuming the default is as expected the following will change that specific setting to the proposed 45 seconds:
[code]
yast can also configure this setting via:
[code]
But as we are akin to a JeOS install a regular Rocsktor system will not have yast configured and is not, as yet, yast compatible.

[2020-10-06 17:27] phillxnet commented on #32
An indication of the failed state of NetworkManager-wait-online can be assessed via:
[code]

[2020-10-06 19:32] phillxnet commented on #32
I am undecided on the route to take here. Adding many tens of seconds to boot times for what looks to be a non critical service may not be the way to go. Especially give that it seems no Rockstor native service is affected. Also note that on for example the Ten64, if one starts this service post boot the time taken for it to start successfully is around 46 seconds. Whereas during boot, the delay r

[2020-10-06 19:41] #30 closed

[2020-10-06 19:50] FroggyFlox commented on #32
@phillxnet , the same thing happened to me a little while back on some of my Rockstor KVM, but I never could point the source and it was clearly due to my situation at the time... I remember looking around a bit and see some people reporting such timeout at boot when having multiple NICs; this was my best guess at the time as I erroneously was binding a few interfaces to my KVM at the time. I have

[2020-10-06 20:26] phillxnet commented on #32
@FroggyFlox

That's interesting the Ten64 does have 10 NIC's so possible, but I've also seen it on a Haswell NUC, single NIC, and an i5 Ivy Bridge desktop with a single NIC, in the latter 2 cases both machines were fairly heavily loaded starting multiple KVM's thought. This was with generic Leap 15.0/15.1.

It's really perplexing, also doesn't look like anything is hanging, just waiting around. I'

[2020-10-06 20:37] FroggyFlox commented on #32
I still have my VM that shows that... and it only has one NIC, so the number of NICs seems irrelevant, actually... I'm currently leaning towards IPv6 issue as we still have a lot of log messages with IPv6-related operations failing (understandably so). Maybe we should make sure we're not missing something IPv6-related somewhere.
In this VM, I also see everything running fine as NetworkManager stil

[2020-10-12 16:36] phillxnet opened #33 "Add link to comments re mcbridematt repo"
Our Ten64 specific repository used as part of the ARM64EFI profile could do with a link to it's OBS repo overview page:

https://build.opensuse.org/project/show/home:mcbridematt

That way folks could more easily lookup it's contents.

[2020-10-19 18:08] phillxnet opened #34 "Move default rockstor rpm version to 4.0.4-0"
By moving to 4.0.4-0 newly created installers will have, preinstalled, a version of Rockstor that can successfully authenticate against the Stable Channel updates. See the following issue in rockstor-core of the recently discovered and fixed Stable Channel update bug:

Stable updates regression Rockstor 4 release candidate
https://github.com/rockstor/rockstor-core/issues/2227

This is important as

[2020-10-19 18:42] #34 closed

[2020-12-29 17:00] FroggyFlox opened #36 "Network:time repository might not be needed anymore"
The OBS repository http://download.opensuse.org/repositories/network:/time/openSUSE_Leap_15.2 might not be needed anymore as the changelog in the chrony package seems to indicate a fix for an infinite loop bug:

https://build.opensuse.org/package/view_file/openSUSE:Leap:15.2:Update/chrony/chrony.changes?expand=1

Although the latest version of `chrony` from the Leap15_2_Updates repository is still

[2020-12-29 17:52] FroggyFlox commented on #36
I'm currently working this issue.

[2020-12-30 14:04] #36 closed

[2021-02-19 16:33] mikemonkers opened #38 "Vagrant boxes not mounting shared folder"
As per this thread: https://forum.rockstor.com/t/problem-building-rockstor-4-with-vagrant/7639 the specified vagrant box for the installer is failing to mount shared folders.

eg.

![](https://forum.rockstor.com/uploads/default/original/2X/d/d39b68e59bf24e430eeda61b344d611cb66a2c17.png)

[2021-02-19 16:36] mikemonkers commented on #38
It would seem that updates to the Official OpenSUSE vagrant box has introduced issues with the virtualbox guest additions .

Pinning the version of the official opensuse VM box image to version 15.2.31.328 the mounting works.

This can be done as follows (ignore the above exploratory findings):

            v.vm.box = 'opensuse/Leap-15.2.x86_64'
            v.vm.box_version = "15.2.31.328"
It woul

[2021-02-19 18:15] FroggyFlox commented on #38
Thanks a lot for this nice find!

Maybe similar to: https://github.com/OSInside/kiwi/issues/1707
I unfortunately can't explore further at the moment but that might help... They've done a lot of work updating the `kiwi-systemdeps` lately but I'm not sure they're already shipped in the kiwi package you have. It might be something to explore as well.

[2021-02-19 19:19] #38 closed

[2021-02-20 11:00] phillxnet opened #40 "improve compliance re openSUSE marks and 'vanilla' nature of host OS"
Thanks to @mikemonkers in the following forum thread for helping to highlight a lack of clarity on our part re OS requirements for our bare kiwi-ng method. We could also improve our 'Marks' user compliance re:
https://en.opensuse.org/openSUSE:Trademark_guidelines
in the following existing excert of the Readme:

Which should, by my initial reckoning in the sited forum thread, read "Built on openSUS

[2021-02-20 11:44] #40 closed

[2021-02-20 18:30] Hooverdan96 opened #42 "Update Vagrant installation instructions"
Correct path in run_kiwi.sh file and update Readme for MS-windows (without bash) commands.

as per installation experience described on the forum:
https://forum.rockstor.com/t/problem-building-rockstor-4-with-vagrant/7639/14?u=hooverdan

[2021-02-21 09:44] #42 closed

[2021-04-01 12:19] phillxnet opened #44 "Pi4 profile currently broken"
Thanks to forum member ktraglin for reporting the following broken Pi4 profile: "Leap15.2.RaspberryPi4".

Please see the following forum thread for context:
https://forum.rockstor.com/t/beta-installer-build-fails-on-raspberrypi4/7710

Issue author has also seen this and the last know successful build of this profile within the closed beta builds of our ISO was at the release of the 4.0.5 rpm:
http

[2021-04-01 12:37] mcbridematt commented on #44
This one is likely on me as shellinabox is sourced from my OBS repo for arm64, due to the shells repo not having arm64 builds (I really should poke someone about that).

Let me see if I can update it..

[2021-04-01 15:07] phillxnet commented on #44
@mcbridematt Thanks for taking a look at this. On initial inspection I didn't think it was related to your repos actually as the profile you contributed "Leap15.2.ARM64EFI" worked a treat still and built, as intended, in the last closed iso beta round I did for the 4.0.6 rpm release. It was only the Pi4 build that failed. But do please double check if you get the time as I've not managed to focus

[2021-04-17 07:19] mcbridematt commented on #44
The cause of this issue is that shellinabox is being pulled from the "openSUSE_Factory_ARM" repository for "shells" rather than mine as is the case for ARM64EFI.

As factory is now closer to Leap 15.3 than 15.2 the shellinabox package from Factory_ARM is no longer compatible.

I've asked nicely over at OBS if the shells project can add a Leap15.2 build cycle: https://build.opensuse.org/project/sho

[2021-04-17 09:19] phillxnet commented on #44
@mcbridematt Thanks for looking into this.

Yes that explains it perfectly, and well done on the upstream request. Lets hope that gets some attention.

Agreed. We could also add a note indicating our awaiting an official upstream build with your own as a placeholder.

That would be very much appreciated, thanks.

Let me know here if you end up out of time on this one and I'll complete as per your

[2021-04-22 13:07] phillxnet commented on #44
@mcbridematt I'm currently working on this one so now worries.

Thanks for the initial investigation. I'll 'patch' for now using your repo while we await a response re you request for the upstream shells repo for the aarch64 architecture. Incidentally it looks like factory is now no longer close enough too Leap 15.3 either (glibc change). Been looking into this for my next issue in this repo after

[2021-04-22 13:50] phillxnet commented on #44
@mcbridematt I'm assuming your packages are not reliant on the factory arm repo?

I'd like to remark out the following until we have a proper shells repo available:

https://github.com/rockstor/rockstor-installer/blob/master/rockstor.kiwi#L300-L304

But that will in turn remove factory arm from the Leap15.2.ARM64EFI profile which is also for your Ten64 platform.

Assuming prior factory arm repo wa

[2021-04-22 18:15] #44 closed

[2021-04-22 18:23] phillxnet commented on #33
Closing as fixed by now merged pr:
"Remove now incompatible factory Arm shells repo - Aarch64 profiles (#44)" #45

in commit 333e3bf9cf7d4afaa8244240b5ee73b0fde4dd42

where the following was added against this repo.

[code]

N.B. this repo is also no used by the Pi4 profile to supply the shellinabox aarch64 package.

[2021-04-22 18:23] #33 closed

[2021-04-23 15:16] phillxnet opened #46 "Add Leap 15.3 profile for x86_64 & Aarch64"
With the pending release of openSUSE Leap 15.3 (beta currently) the time is nigh for adding the relevant architecture profiles.

https://en.opensuse.org/openSUSE:Roadmap#Schedule_for_openSUSE_Leap_15.3

[2021-04-23 15:25] phillxnet commented on #46
This issue is dependant on the outstanding removal of the now End-of-Life Leap 15.1 profile.

In order that we do not grow indefinitely we should prune regularly and in this case EoL status for the given OS looks like  the clear indicator. Our Leap 15.1 is also x86_64 only as it predated our move to supporting Arm64 profiles.

[2021-04-23 15:33] phillxnet commented on #21
Leap 15.1 is now EoL (extended from original issue text) as from Feb 2nd 2021.

Given our pending addition of Leap 15.3 profiles:

"Add Leap 15.3 profile for x86_64 & Aarch64" #46

and our delayed Stable release via the 'Built on openSUSE' Leap 15.2 initiative we should now clear the way for this new OS base by tending to this house-keeping issue. Those in need, post this issue resolution, can alw

[2021-04-23 15:33] phillxnet commented on #21
I am currently working on this issue.

[2021-04-26 15:26] #21 closed

[2021-04-26 15:46] phillxnet commented on #46
I am currently working on this issue.

[2021-04-26 17:09] phillxnet commented on #46
@mcbridematt Sorry to both you but I think we are in need of a Leap 15.3 repo in your OBS drivers repo re Ten64 / ARM64EFI :
https://build.opensuse.org/project/show/home:mcbridematt
I've comment to this end here:
https://build.opensuse.org/project/show/home:mcbridematt#comment-1447259
That way I can hopefully add a full suite of 'Built on openSUSE' Leap 15.3 profiles:

- Leap15.3.x86_64
- Leap15.3

[2021-04-27 11:58] mcbridematt commented on #46
@phillxnet I just added a 15.3 aarch64build for shellinabox.

https://build.opensuse.org/package/live_build_log/home:mcbridematt/shellinabox/openSUSE_Leap_15.3/aarch64

You can leave the other Ten64 packages commented out for now, they will be updated in due course.

[2021-04-27 15:32] phillxnet commented on #46
@mcbridematt Thanks for the extra repo. As per the referenced commit we are moving to host the shellinabox from rockstor_home so the Ten64 drivers were the issue really.

OK, thanks. I'll take a took at this shortly and will likely just not add the new Leap 15.3.ARM64EFI profile to the specific Ten64 driver section. We can always follow this up once they are ready or deemed un-required. I'll add s

[2021-04-28 18:22] #46 closed

[2021-05-02 13:11] FroggyFlox opened #49 "Kiwi recipe slightly behind upstream JeOS template"
The upstream kiwi templates for various versions of JeOS Leap have now seen several small updates that might deserve some attention to see whether these should be merged (in an attempt to follow upstream as much as possible). In particular, several of these changes target the Raspberry Pi4 profile, as mentioned in https://github.com/rockstor/rockstor-installer/pull/48#issuecomment-828590660

@phil

[2021-05-03 18:39] phillxnet commented on #49
@FroggyFlox Thanks for watching these upstream changes and creating this issue.

Re:

Agreed. We then skate to where the puck is going as it were. Would be great if we don't break our Leap 15.2 profiles of course, but that should be a fairly obvious failure.

[2021-05-08 14:57] FroggyFlox opened #50 "RaspberryPi4 profile packages are slighly behind upstream recipe"
This issue is a follow-up to #49.

In the upstream kiwi recipe, we can see the following changes related to the Leap15.3 profile for Raspberry Pi:

https://build.opensuse.org/package/view_file/openSUSE:Leap:15.3/kiwi-templates-JeOS/kiwi-templates-JeOS.changes?expand=1

Accordingly, the `<packages>` specific to the Raspberry Pi profile are:
[code]
https://build.opensuse.org/package/view_file/openSU

[2021-05-08 15:46] phillxnet commented on #50
@FroggyFlox Thanks for creating this issue.
Re:

Agreed

This I think belongs in the general section. It improves hardware compatibility re 'special' hardware etc.

I remember purposefully leaving this one out. It was present in the earlier builds but in the context of Rockstor it does not make sense to setup the Pi4's radio when we are not yet able to configure the same within the Web-UI. I belie

[2021-05-08 16:56] phillxnet commented on #50
@FroggyFlox Re

Yes, I saw that. And I'm pretty sure that was a mistake on my part going back to the initial development of this config. I think it's best we put it in the general section for all profiles however as we then gain greater hardware compatibility. At least that is my understanding. I just remember reading about it, early on, and thought I'd popped it in the general section. And when y

[2021-05-08 17:05] phillxnet commented on #50
@FroggyFlox  I've just check on the installed size of this package:
[code]
That's quite a bit !! We should establish if we are already using this via dependency.

[2021-05-08 17:11] FroggyFlox commented on #50
Rather large indeed... I checked earlier in a VM installed using a Rockstor 4.0.6 ISO Leap 15.2/3 and the `kernel-firmware` package was not installed.

[2021-05-08 17:14] phillxnet commented on #50
Also I can no longer find reference to the "kernel-firmware-all" package referenced in the comments. Other than the following:
https://software.opensuse.org/package/kernel-firmware-all?search_term=kernel-firmware-all
[code]

I'm thinking now that the -all is now encompassed by the kernel-firmware package. And that size is about what I wanted to avoid actually. Maybe this is all now legacy and we d

[2021-05-08 17:18] FroggyFlox commented on #50
Agreed... I'll try that and try to remember paying attention to the size of the resulting Pi4 files created.

[2021-05-24 09:21] #50 closed

[2021-05-30 12:32] FroggyFlox opened #52 "BaseMount/BaseCleanMount functions are deprecated"
This issue is a follow-up of #49 .

In our `config.sh`, we currently use the `BaseMount` and `BaseCleanMount`. As reported in the kiwi build log, however, these functions are now deprecated as this is now taken care of by kiwi-ng itself. This deprecation happened in October 2020:
https://github.com/OSInside/kiwi/pull/1597

It thus seems we can safely remove them from our `config.sh`, as has been d

[2021-05-30 19:37] FroggyFlox opened #54 "Chrony NTP servers configuration is out-of-date when compared to Leap 15-3 JeOS"
This is another follow-up to #49.
Currently, we define the NTP servers for chrony to use while building the installer as follows:
https://github.com/rockstor/rockstor-installer/blob/ca6a6df93a9ce4c467a04cada2acf982dccbb96a/config.sh#L114-L125

However, Leap 15-3 JeOS now uses a much more streamlined setup using SUSE NTP pool:
[code]
This results in:
[code]
... defining the SUSE pool:
[code]

Inter

[2021-06-01 10:45] #52 closed

[2021-06-01 10:48] phillxnet commented on #52
@FroggyFlox Thanks for your continued diligence on this one. Nice for us to stick more closely with upstream Kiwi-ng changes here, and nice to be able to remove some more kipple.

[2021-06-07 11:23] FroggyFlox opened #55 "Several functions used in config.sh will soon be deprecated upstream"
Several of the convenience functions present in `config.sh`, including some that we currently use, have recently been deprecated:
https://github.com/OSInside/kiwi/pull/1833

From this PR, I identify only `suseImportBuildKey()` as being a function we currently use and that will be deprecated in a future kiwi-ng release. As the new code mentions, though, this seems to now be taken care by kiwi so we

[2021-07-01 01:31] rhewy opened #56 "Building inside an lxc fails"
Currently, I am attempting to build inside an openSuSe 15.2 lxc on proxmox.

A lot happens but fails looking for stdout.

Would this even be possible? Does the container need to ran as root (not unprivileged in promox speek)

Would a vm work?

Does the building OS have to be bare metal?

I read the readme but the term discrete OS puzzled me.

[2021-07-01 08:37] phillxnet commented on #56
@rhewy Thanks for the report:

This sounds like an issue with how proxmos is handling the standard out for kiwi-ng. It's a program that runs as root in the host OS and does quite a lot of fairly privileged stuff and rather assumes it has all writes to do all things, such as chroot etc. So not really sure but:

Yes this is usually the easiest way to go, at least until we investigate the build-in vm

[2021-07-01 22:27] rhewy commented on #56
I was able to build the iso using a 15.3 OpenSUSE VM on Proxmox.
SCP the iso from the vm to the host.
Then use the iso to create a RockStor VM on Proxmox.

I would still need to pass through some drives from host to VM to build a "RAID".

You might be able to get it to work in a container but there are a few switches to throw and test.
https://forum.proxmox.com/threads/mount-via-loop-device-in-con

[2021-07-01 22:27] #56 closed

[2021-07-08 14:02] phillxnet opened #57 "Move default rockstor rpm version to 4.0.7-0"
In line with an earlier update which moved us from 4.0.0-0 to 4.0.4-0, along with some more recent encouraging reports of folks experience on the forum with this latest version, it is proposed that we now default to using the 4.0.7-0 rpm. This also side steps fresh installs from the resulting installers having to upgrade from the prior unmaintained ztaskd to the new huey task manager (in 4.0.6-0).

[2021-07-08 17:56] KodyVB opened #58 "Please make "<!-- Change to" consistent in rockstor.kiwi"
This is a minor issue, but almost tripped me up. In the instructions for editing rockstor.kiwi, it says to change any lines preceded by "<!-- Change to" but only the first line that needs to be changed has "<!-- Change to". The following four lines (52, 107, 158, and 459) have "<!--Change to" (missing the space between the - and C). When I opened it up in vim to make the changes, I searched for th

[2021-07-08 20:50] phillxnet commented on #58
@KodyVB Nice find. Thanks for report this. I'm afraid this anomaly is down to me. I had thought I'd cut and pasted from the original. Oh well, bit by bit.

[2021-07-09 10:57] phillxnet commented on #58
I am currently working on this issue.

[2021-07-09 12:24] #58 closed

[2021-07-09 12:36] phillxnet commented on #57
I am currently working on this issue.

[2021-07-09 14:34] #57 closed

[2021-07-14 11:18] phillxnet opened #61 "Normalise efipartsize across profiles"
Currently our RaspberryPi4 & ARM64EFI profile variants (Leap 15.2/15.3) set an EFI partition size of 64 MB, where as our x86_64 profile variants set a size of 33 MB. It is proposed that we normalise on the safer-bet of 64 MB especially given our Rockstor 4 recommended minimum system disk size of 16GB. The Pi4 and presumably also the ARM64EFI profiles do put more stuff in these partitions but it is

[2021-07-27 10:16] phillxnet opened #62 "RPi 400 requires at least a 15.3 profile"
Thanks to forum member papaskitch for reporting this requirement. Apparently for the Pi400's built in keyboard to work it is required to use at least a 15.3 profile. It is proposed that we make a small note in the readme to indicate this to avoid folks running into this same issue while our Leap 15.2 profiles still exist.

Contextual forum reference: https://forum.rockstor.com/t/failed-to-delete-t

[2021-07-31 20:24] pasyn opened #63 "kiwi-ng fails with No provider of 'raspberrypi-eeprom' found."
Tried compiling per instruction in README on Leap15.2 running on a Pi4.

`kiwi-ng --profile=Leap15.2.RaspberryPi4 --type oem system build --description ./ --target-dir /home/kiwi-images/`

Resulting with the following error
`[ ERROR   ]: 20:16:51 | KiwiInstallPhaseFailed: System package installation failed: No provider of 'raspberrypi-eeprom' found.`

Adding the following repository to rockstor.ki

[2021-08-01 09:24] phillxnet commented on #63
@pasyn Thanks for the report. Much appreciated.
At first glance I thought we might be looking at an upstream repo change here, or an inadvertent removal of this package from the Leap15.2 ones specified. We added the "raspberrypi-eeprom" package in the following:
Pull request:
"Update RaspberryPi4 profile (#50)" #51
Issue:
"RaspberryPi4 profile packages are slighly behind upstream recipe" #50
And s

[2021-08-01 12:04] FroggyFlox commented on #63
@phillxnet , I can't recall and I obviously should have been a lot more clear in my PR and Issue discussion about that, but I might have indeed focused on Leap 15.3 as that was our target.
I'll try to verify building on both Leap 15.2 and 15.3 as soon as I can.

[2021-08-01 12:28] FroggyFlox commented on #63
@phillxnet, I just checked my buildbot logs and I apparently saw that exact same thing 2 months ago: no problem with the 15.3 profile, but the 15.2 profile fails as no provider for raspberrypi-eeprom can be found.
It thus seems to be something that was always there but that I somehow forgot about or disregarded at the time as it was Leap 15.2... my sincere apologies for that one; I can't believe I

[2021-08-01 13:10] pasyn commented on #63
@phillxnet you were right about the need to split the profiles for 15.2 and 15.3. `raspberrypi-eeprom` is not in the upstream kiwi template for JeOS 15.2.
[https://build.opensuse.org/package/view_file/openSUSE:Leap:15.2/kiwi-templates-JeOS/JeOS.kiwi?expand=1](url)

Upon researching the raspberrypi-eeprom package, It looks to only be used for updating the bootloader and as such is only required if

[2021-08-01 14:21] phillxnet commented on #63
@FroggyFlox Re:

No worries and my apologies for not checking this myself. 15.2 is/was our main target but we have had a lot on with adding the new Leap 15.3 to our backend buildbot so it looks like we both got distracted with that. But thanks to @pasyn (and your buildbot logs) we are now in-the-know. Plus once we have our installer builder on a regular schedule such things should drop out of the

[2021-08-01 14:25] phillxnet commented on #63
@FroggyFlox It has rather belatedly dawned on me that our recent adoption of GitHub Actions may have a place to play in this repo also. I.e. we build each profile in turn just to see if it errors out. Hopefully this isn't an abuse of the service as that's quite the compute requirement. But is, in-itself, a completely legitimate use. What you you think? Likely we will encounter limitations in being

[2021-08-01 14:46] FroggyFlox commented on #63
I had the exact same reaction.
The way I see it would be related to our previous discussion on building this on OBS (this is what `kiwi` excels at after all). With all the improvements made by the OBS team for SCM integration, one could "easily" setup a github action to trigger the build on OBS and return the results back to the Github PR.

[2021-08-01 15:02] phillxnet commented on #63
@FroggyFlox
Re

Agreed, that's a much better idea. Especially given the resulting images would then be available on OBS (I'm assuming) which would be rather handy. And with kiwi-ng being 'native' to OBS we are on a more supported platform. But the "easily" bit here is rather more in context with your abilities in this area than mine I'm afraid. :).

[2021-08-01 18:11] #63 closed

[2021-08-02 17:21] phillxnet opened #65 "Add repo-backports-update & repo-sle-update in Leap 15.3 profiles"
As of Leap 15.3 there are 2 additional repositories that are auto added on a new opensuse Leap 15.3 install. In our existing Leap 15.3 profiles these are implicitly added but as we don't specify them during the installer build the resulting install has a tone of updates pending. This is sub-optimal and not in line with our prior Leap 15.2 profile experiences.

It is proposed that we add, for the d

[2021-08-03 11:26] phillxnet opened #66 "Correct initial boot message re Started/Finished"
At install/first boot we present the following message:

This is incorrect as it should read:

There is also not exact match for "[  OK  ] Started Rockstor bootstrapping tasks." but we do have a near match of:

This message is defined in our root file additions in the following file:
`root/etc/issue`

This change is deemed important as it is one of the very first messages that informs the user tha

[2021-08-03 11:30] phillxnet commented on #61
I am currently working on this issue.

[2021-08-03 11:51] #61 closed

[2021-08-03 11:54] phillxnet commented on #62
I am currently working on this issue.

[2021-08-03 13:07] phillxnet opened #69 "Fix Pi4 log spam when sdcard slot is empty"
Both our Leap 15.2 and Leap 15.3 based Pi4 profiles express extreme log spam when booting from USB with an empty sdcard slot. This is a know upstream issue that also has associated CPU load:

"mmc0: timeout waiting for hardware interrupt (without SD card)": https://github.com/raspberrypi/linux/issues/3092
and the later linked:
"Mute SDHCI REGISTER DUMP": https://github.com/raspberrypi/linux/issues

[2021-08-03 13:56] phillxnet commented on #66
I am currently working on this issue.

[2021-08-03 14:04] #62 closed

[2021-08-03 14:08] #66 closed

[2021-08-03 14:24] phillxnet commented on #69
Given the proposed additional file in /boot/efi is not thought to be active unless we are on Pi4/Pi400 hardware it is proposed that we add this file by the simplest of means: i.e. via the file override mechanism we have already used to adjust our /etc/issue and /etc/motd.
It remains to be seen if this method will work with the 'speciall' arrangements made for the Pi4 profile, i.e. :
[code]
Otherwi

[2021-08-03 14:26] phillxnet commented on #69
I am currently working on this issue.

[2021-08-03 14:41] phillxnet commented on #69
Our current x86_64 installer profiles result in the following on that platform:
[code]
[code]
Where as the Pi4 profiles end up with the prior contents of boot/vc via the above referenced 'special' treatment.

[2021-08-03 15:23] phillxnet commented on #65
I am currently working on this issue.

[2021-08-04 09:31] #65 closed

[2021-08-05 18:29] #69 closed

[2021-08-14 14:38] phillxnet opened #74 "remove ipv6.disable=1 kernel option"
We have recently encountered at least a couple of failures related to our stance in disabling IPv6. The first and currently most significant was in a recent upstream docker update to version: 20.10.6
"Docker 20.10.6: all containers stopped and cannot start if ipv6 is disabled on host"
https://github.com/moby/moby/issues/42288
The second is in our ability to instantiate/configure, via the Web-UI, a

[2021-08-14 17:05] phillxnet commented on #74
I am currently preparing a pull request for this issue.

[2021-08-14 21:37] joschi127 commented on #74
:+1: for this

also see https://github.com/rockstor/rockstor-core/issues/2139#issuecomment-898961448

[2021-08-18 07:55] #74 closed

[2021-08-18 18:55] daya opened #76 "KiwiProfileNotFound: profile Leap15.2.RaspberryPi4 not found for host arch x86_64"
I am more than likely missing something very basic here being all new to `kiwi-ng`. I am trying to create an iso for RaspberryPi4 using the following command on a x86_64 machine with qemu installed

`./kiwi-env/bin/kiwi-ng --debug --target-arch=aarch64 --profile=Leap15.2.RaspberryPi4 --type oem system boxbuild --box leap  -- --description ./ --target-dir ./images`

please note the `--target-arch=a

[2021-08-19 07:28] phillxnet commented on #76
@daya I have seen this before as initially I used to use the cross architecture build method but it was horribly slow so I've ended up building naively on a Pi4. But my experience with this error was from before the boxbuild method was introduced. It could be the ordering of the parameters: i.e. from our readme:

For our private beta builds of the installer we don't, at least yet, use the boxbuild

[2021-08-19 12:06] FroggyFlox commented on #76
Hi @daya ,

I too gave that a very quick try a little while ago and encountered the same issue. I couldn't spend more time looking into it however, so I did not get it to work. Note, though, that I've read the kiwi-ng folks being able to successfully use the `--target-arch` with the box plugin to do cross architecture build (note, however, that they do emphasize that this is expected to be a slow

[2021-08-20 13:06] phillxnet opened #77 "Update default version to 4.0.8-0"
Update the default version to our latest Stable release candidate 9 (4.0.8-0) which includes an important http-> https change on the rock-ons that may fix Rock-on refresh function for those on slow networks:
https://forum.rockstor.com/t/beta-built-on-opensuse-testing-channel-changelog/7097/15

[2021-08-20 13:31] #77 closed

[2021-08-28 23:23] blomstertj opened #79 "additional packages needed to create iso image"
Hey all

So I built the installer with 15.2 Leap in a vagrant box but had some errors building the image due to missing commands.

The command
 `kiwi-ng --profile=Leap15.2.x86_64 --type oem system build --description ./ --target-dir /home/kiwi-images/`
Failed a couple times due to missing commands.  I got the build to work after installing these packages:
qemu-tools
gptfdisk
e2fsprogs
squashfs
xor

[2021-08-29 09:28] phillxnet commented on #79
@blomstertj Thanks for the feedback.

It looks like the vagrant box image you used simply did not have these pre-installed. Many such images are trimmed right down. Good to know. We have had some reports over time of variations in Leap images with regard to this. As there is no harm in requesting the install of packages that are already installed (on other Leap images) we should add these to our f

[2021-08-29 09:30] phillxnet commented on #79
I am currently working on this issue.

[2021-08-29 10:33] #79 closed

[2021-08-29 10:38] phillxnet commented on #79
@blomstertj Thanks again for the report. Much appreciated.

I've now, in the linked pull request, added these package dependencies to the non boxbuild methods.

"Update package dependencies for kiwi-ng non boxbuild methods #79" #80

[2021-10-02 12:05] phillxnet opened #81 "Promote 15.3 profiles given 15.2 approaches EOL"
We currently have all 15.2 profiles as "Current" and 15.3 as "In-Development". It is proposed that we now promote our 15.3 profiles to the "Current"/"Core" status. This is as a result of the 15.3 profiles now having had a fair amount of 'field' testing (> 5 months) and there having been no significant negative feedback. And in view of the need to move forward on our recommended base OS and to acti

[2021-10-13 00:09] skewty commented on #81
Is this issue holding up the 8.0 ISO release?

Perhaps a GitHub Milestone with the remaining issues before the 8.0 ISOs can be released would be a good idea?

[2021-10-13 10:57] phillxnet commented on #81
Hello @skewty  and thanks for your interest in our re-release via the v4 "Built on openSUSE" endeavour.

Not majorly, but a little. We are as per:
https://forum.rockstor.com/t/beta-built-on-opensuse-testing-channel-changelog/7097/16
now at 4.0.9-0 Release Candidate 10 in our testing channel, from which this rockstor-installer repo gets it's rockstor package.

The main hold-up on releasing the fina

[2021-11-01 10:24] HTPC-Schrauber opened #82 "Installed system does not boot on EFI only systems"
I tried to install the build image on a system, which is set to EFI. So CSM is disabled on this system.

The USB strick bootet without any problem. Installation went fine.
But after reboot the installed system does not boot.
The UEFI firmware does not even find any bootable disk.

So I think there is a problem with the grub installation on this system.

[2021-11-01 12:08] phillxnet commented on #82
@HTPC-Schrauber Thanks for the report.
Re:

Was the USB key booted in EFI mode?

Our installer basically senses to install in EFI or otherwise depending on how it was booted. Many systems will a non EFI boot of USB and then 'flag' our installer to install a  non EFI install.

Definitely worth a try as I've seen this behaviour myself.

[2021-11-01 12:14] HTPC-Schrauber commented on #82
As I said, the System has CSM disabled. So it can only boot in EFI mode.
So it must be booted from USB in EFI mode.
Or am I wrong?

[2021-11-01 12:14] phillxnet commented on #82
@HTPC-Schrauber I'm assuming here you are referencing our v4 "Built on openSUSE" DIY installer:

https://github.com/rockstor/rockstor-installer

Our old 2017 CentOS based installer from SourceForge is now pretty dated and we last release an update for that around a year ago.

- Last Testing Channel release (3.9.1-16) - November 2017
- Last Stable channel released (3.9.2-57) - April 2020

[2021-11-01 12:16] phillxnet commented on #82
Not necessarily but possibly. Some systems still allow for external/usb boot by older methods. You could check.

See my last comment for a question about the installer as our old one was known to be a bit duff on EFI !!

[2021-11-01 12:19] HTPC-Schrauber commented on #82
I am on V4 DIY installer.

OK, I will check if I bootet in EFI mode for sure.

[2021-11-01 12:25] phillxnet commented on #82
OK, that's good then.
Linking to an issue for our legacy CentOS based installer in case folks come across this thread for a v3 installer:
https://github.com/rockstor/rockstor-iso/issues/19

Yes, ome bios firmware allows for you to pick the boot mode for 'external' media of which a USB key is often singled out dur to it's common place use in os installs. On a system I remember seeing this anomaly o

[2021-11-01 21:42] HTPC-Schrauber commented on #82
OK, this was strange.

I checked and the system booted from USB in EFI mode.
After the install was finished (but before rebooting) I checked the partitions and all looked fine. The EFI parition was there.
What I was wondering, it has only 64 MiB. Mostly it is created with at least 100 MiB.
Also the EFI partition was mounted on /boot/efi.

Then I tried to run:
grub2-install --target=x86_64-efi --ef

[2021-11-02 12:19] phillxnet commented on #82
@HTPC-Schrauber Hello again, and glad you've found a work around but this should not be necessary and definitely represents a bug or anomaly in the installer build. Do you still have the kiwi-ng log from when you build the installer?

Re:

this size is intentional and should be just fine. We are not accomodating any other OS's here and our upstream of kiwi-ng did have an issue with this partition

[2021-11-02 13:01] phillxnet commented on #82
@HTPC-Schrauber  If you still have your kiwi-ng build log then we can more easily/usefully submit this to upstream as a new issue as our own config has not changed in this regard for a long time. So it may be relevant / observable by them.

I'm unfortunately unable to re-produce myself as I'm in the process of moving and have non of my prior test hardware available so have no UEFI/EFI hardware to

[2021-11-02 13:46] HTPC-Schrauber commented on #82
I will look into this futher.
I do not have the log. But I will recreate an ISO, check if that shows the same behaviour.
Hopefully I will be able to reproduce this and then can grab the log.

[2021-11-03 19:49] HTPC-Schrauber commented on #82
Hi,
I have updated my OpenSuse 15.3 and build the installer again.
The result was the same. After installation a not bootable system.
Attached you find the lo
[image-root.log](https://github.com/rockstor/rockstor-installer/files/7470306/image-root.log)
g.

[2021-11-05 15:47] phillxnet commented on #82
@HTPC-Schrauber Cheers.
So from that build log we have, via grep:
[code]

[2021-11-05 16:29] phillxnet commented on #82
Noting elements as I read through the log.

At the stage when the grub is being installed on the target image /dev/loop0 i.e. the line just before:
[code]
we have:
[code]

so we have
[code]
And
[code]
A btrfs subvol.
And from our config we have:
[code]
Which is unchanged from prior working efi boots.

[2021-11-05 17:26] phillxnet commented on #82
From you own earlier build log, whose resulting image is untested in efi boot (moving so hardware access issues currently) is identical configured:
[code]
So looking earlier in the log of my build here for /dev/loop0p2 we have:
[code]
I.e. second partition, equivalent of say sda2, for the fat16 part of the boot image.
With our resulting install as:
``
rleap15-3:~ # parted /dev/sda print
Model: ATA

[2021-11-05 17:32] phillxnet commented on #82
An install I have here has:
[code]
With /boot/efi containing only the "EFI" directory and in turn this contains only the directory "BOOT".

[2021-11-05 18:32] FroggyFlox commented on #82
Thanks a lot for the dissection, @phillxnet!
In case it helps, the equivalent of the `grub2-install` that @HTPC-Schrauber had to manually run seems to be done at:
https://github.com/OSInside/kiwi/blob/89ba240b3b35aec4c203ccac0ff6de685fcc6060/kiwi/bootloader/install/grub2.py#L129

[code]

From there the target seems defined below for the x86_64 arch:
[code]
`i386-pc` seems to be the default for gru

[2021-11-06 12:53] FroggyFlox commented on #82
I could build a new ISO using the Leap15.3_x86 profile but I have not had time to test it yet. For reference, here's the info:
[code]

The "simple" kiwi log (stdout, helpful to locate timestamps of interest) is:
[Kiwi-build-log.txt](https://github.com/rockstor/rockstor-installer/files/7490478/Kiwi-build-log.txt)

The full build log:
[image-root.log](https://github.com/rockstor/rockstor-installer/f

[2021-11-07 13:27] phillxnet opened #83 "Update EULA re http->https and abstract liability to paid subscription amount"
We currently use an http 'legal' link that is now https hosted due to:
https://github.com/rockstor/rockstor-core/issues/2226
Plus we have a hard-coded liability amount: tie this to the first years paid subscription as that was the original intent with the currently given amount. This also allows us to vary our subscription for different countries/currencies in line with what may be appropriate goi

[2021-11-07 13:33] slowhand93 commented on #82
Hello guys, I'm having the same situation.
How did you manage to run "grub2-install..." ? I'm only getting in dracut-emergency shell and can't run any grub command.

What's also strange in my situation is, that the root label is missing
when i look into blkid, the sda4 which would be my root partition, it's missing.
-> lsblk shows sda4 with 110G, sda2 which is labeled as efi is 64M, sda3 is SWAP a

[2021-11-07 13:41] phillxnet commented on #82
@slowhand93 Thanks for the confirmation. Much appreciated.
Re:

I believe @HTPC-Schrauber ran the grub re-install command at the very end of the installation process; that is before the first reboot. At that point the system is pretty much fully functional, it just doesn't appear to have had it's efi grub configured correctly. Hence the first reboot (from the new install) failing and dropping you

[2021-11-07 14:26] FroggyFlox commented on #82
I disabled CSM (I believe) on my motherboard, forced UEFI only as boot mode, and booted the USB containing that ISO in UEFI mode. Very first boot, we have:
[code]

and
[code]

and
[code]
`sdb` is the USB drive used to install the ISO.

Finally:
[code]

[2021-11-07 14:42] phillxnet commented on #82
@FroggyFlox Thanks for the additional test:
Re:

So we have a successful uefi boot of an install resulting from one of our 4.0.9-0 iso's. Can you confirm that this boot was actually from the resulting install as the USB key (the installer) has the ability to boot an installed system. I don't think it would work in this case however but given the USB key (installer) is still in play here it would b

[2021-11-07 14:54] phillxnet commented on #82
@FroggyFlox Thanks for a back-channel conversation it seems I have again got the wrong end of the stick.

So @FroggyFlox's info above represents the boot of the installer, i.e. end of install state **post reboot**. Not a resulting reboot state of the resulting install. I'll try and emulate a uefi/efi boot here soon so I can keep up :). Sorry for the noise folks.

[2021-11-07 16:38] slowhand93 commented on #82
@phillxnet Thanks for your answer. I wasn't able to get it booting up. Then I saw that the rockstor download page links to a 15.3 iso which did work for me. I noticed, that for whatever reason in my previous attempts the installer didn't went through completely. It just stopped after the copying process and led me to dracut shell.
With the official iso it went through without any problems. Looks g

[2021-11-07 18:40] FroggyFlox commented on #82
@phillxnet, I just another quick look at the build log I uploaded above and looking at the `grub2-install` command, it seems it is indeed using the i386-pc target:
[code]

[2021-11-08 14:26] #83 closed

[2021-11-09 20:31] HTPC-Schrauber commented on #82
I did a fresh Install with the new ISO from rockstor website.
The result ist the same: a not booting system.

Directly after the installer I looked at the output from the commands from @FroggyFlox.
All looks the same on my system.

After my grub2-install command there is only one change:
`localhost:~ # tree /boot -d
/boot
├── efi
│   └── EFI
│       ├── BOOT
│       └── rockstor
└── grub2
    ├──

[2021-11-15 13:30] phillxnet opened #85 "Add additional utilities."
During especially boot issue diagnostics we could do with one or two more little tools included by default. We are based on a JeOS (Just enough Operation System) effort from upstream and so contain mainly just rockstor dependencies beyond the upstream JeOS. It is proposed that we add the following tools by way of easing boot diagnosis:

- [x] tree - 109.8 KiB (Tree is a recursive directory listing

[2021-11-20 14:48] phillxnet commented on #82
I've now added an installer-uefi test instance to our test setup.
This is a pure UEFI only qemu libvirt system running TianoCore ovmf firmware which is said to be unable to boot bios images.
See: [Does OVMF support legacy booting, legacy option ROMs, CSM?](https://github.com/tianocore/tianocore.github.io/wiki/OVMF-FAQ#does-ovmf-support-legacy-booting-legacy-option-roms-csm)

setup via:
## Our kvm-

[2021-11-20 15:14] phillxnet commented on #82
Continuing on from above UEFI proof of boot on Tiano ovmf.
## Select HDD from boot manager:
Pressing escape at Grub first screen and then "exit" at the grub command line and we are in the EUFI interface.
If we then force boot from the HDD via:
Boot Manager -> Hightlight **UEFI QEMU HARDDISK 112358**

![boot-hdd-directly](https://user-images.githubusercontent.com/2521585/142731053-6fe77b25-f43e-46d

[2021-11-21 10:13] phillxnet commented on #82
A potentially important caveat with my prior proof of concept posts:

Using the installers grub boot hdd option ends up sending us to the UEFI (i.e. it fails to boot hdd from installer).
But UEFI boot manager initiated hdd boot works as stated.
And removing the 'cdrom' installer file (ejecting the installer medium) also works for auto boot fail through.

Noting in case this rings-a-bell for our ob

[2021-11-24 12:49] phillxnet opened #86 "Add remarked out 'latest kernel' repo"
In some circumstances, mainly developmental, it is desirable to have an installer with the very latest kernel. It is proposed that we add a remarked out section to enable this that references the relevant additional repositories i.e.:

https://doc.opensuse.org/documentation/leap/reference/html/book-reference/cha-tuning-multikernel.html#sec-tuning-multikernel-latest

However we must be clear, via c

[2021-11-24 13:20] phillxnet commented on #86
See also forum member kageurufu's post here:
https://forum.rockstor.com/t/documenting-importing-my-btrfs-pool-from-another-server-stable-kernel-btrfsprogs-and-more/7957
Which indicates other potentially required elements.

[2021-11-28 14:55] phillxnet commented on #82
Linking to a potentially interesting upstream report. Although in the linked report issue the base os is debian not a JeOS Leap such as in our case.

Given we now have at least 2 reports of failed uefi boot of the resulting install but proven uefi boot within a kvm/libvirt Tiano ovmf based system (detailed earlier) the linked issue may be contextually interesting as it expresses a uefi boot failur

[2021-11-28 17:13] phillxnet commented on #86
I am currently working on this issue.

[2021-11-28 18:23] phillxnet commented on #76
Closing as this is more a support request re cross arch kiwi-ng and we now have pre-build installers available.
Assuming @FroggyFlox 's suggestion re using the universal method and avoiding the boxbuild is the 'fix' in this case.

@daya If you fancy working this one out further, assuming @FroggyFlox 's suggestion did not help, Please open up a new post with all the details in our forum here:

http

[2021-11-28 18:23] #76 closed

[2021-12-24 14:47] phillxnet opened #89 "Grant NetworkManager capabilities on teamd"
Thanks to forum member smokku for highlighting this issue via support email. Network manager is unable to enact a team network setup due to a lack of capabilities on the teamd deamon. The suggested fix was as follows:

It is proposed that we add this file to our root overlay (those files within our /root directory) so that Network manage is awarded these additional capabilities.

[2021-12-24 15:31] phillxnet commented on #89
In an attempt to find collaborating information on this approach we have the following:
https://forums.opensuse.org/showthread.php/540345-network-teaming-problem

Where forums.opensuse.org user arvidjaar suggests:

The original reported, sky.x, (in Tumbleweed of Jun 2020) then opened the following bug report as suggested:

https://bugzilla.opensuse.org/show_bug.cgi?id=1172487

This bug takes an al

[2021-12-24 15:51] FroggyFlox commented on #89
Nice find!
I was curious so I looked: I had an update for `libteamdctl0` on my Rockstor-4.0.9 built on openSUSE Leap 15.3:
[code]

Looking at `libteam-1.27-4.3.1.src` on OBS, it seems to be including that patch:
https://build.opensuse.org/package/view_file/SUSE:SLE-15:Update/libteam/libteam.changes?expand=1

[2021-12-24 20:46] phillxnet commented on #89
@FroggyFlox Well done chasing that up. I had to step away for a bit so much appreciated.

From the sighted change request here: https://build.opensuse.org/request/show/929722
we have:

From you link we have:

Shame we can't see the indicated SuSE issue:
https://bugzilla.opensuse.org/show_bug.cgi?id=1185424

And sure enough our 15.3 profile has this package version if freshly build.

And from an ol

[2021-12-24 20:55] phillxnet commented on #89
@FroggyFlox I'll contact the reporter and point them to this issue. Closing for now as this looks very much like the original issue has been addressed but by directory treatment rather than additional privileges:

https://build.opensuse.org/request/show/929722

[code]
Along with some other tmpfile config stuff and an additional [patch](https://build.opensuse.org/package/view_file/network/libteam/b

[2021-12-24 20:55] #89 closed

[2021-12-24 21:17] phillxnet commented on #89
Just noting that the indicated patch has a nice explanation and a link to it's in-turn upstream:
https://gitlab.freedesktop.org/NetworkManager/NetworkManager/-/issues/722

[2021-12-28 15:32] phillxnet commented on #81
Linking to the now active issue with a proof of concept fix:
https://github.com/rockstor/rockstor-core/issues/2334

Noting that we are now all Hugo on the main website. As of the merging of:

https://github.com/rockstor/rockstor-website/pull/22

To be addressed against the following issue:
https://github.com/rockstor/rockstor-doc/issues/352

There is also the now formalised email notification issu

[2021-12-28 15:33] phillxnet commented on #81
Linking to the now active issue with a proof of concept fix:
https://github.com/rockstor/rockstor-core/issues/2334

Noting that we are now all Hugo on the main website. As of the merging of:

https://github.com/rockstor/rockstor-website/pull/22

To be addressed against the following issue:
https://github.com/rockstor/rockstor-doc/issues/352

There is also the now formalised email notification issu

[2022-01-05 12:41] phillxnet opened #90 "Add infiniband capability"
Thanks to NiTRO Boy via support email for highlighting our lack of infiniband support in our installer. Apparently we did have infiniband capabilities in our now legacy v3 CentOS based offering.

The ibutils package is assumed to provide the required functionality:
[code]
And so the cost size looks to be an additional 17 MB.

It is proposed that we add this to our installer package list so that th

[2022-01-06 16:15] phillxnet opened #91 "Remove Leap 15.2 profiles"
As per our #21 "Remove Leap15.1 profiles" Leap 15.2 is now past EOL, see: https://en.opensuse.org/Portal:15.2 (31st December 2021). Given this recently changed status it is proposed that we now remove all profiles based on Leap 15.2.

This is in the context of a dependency on the resolution of issue:

Promote 15.3 profiles given 15.2 approaches EOL #81

Requires #81

Which in-itself has further de

[2022-01-10 19:44] #86 closed

[2022-01-13 17:28] phillxnet commented on #81
All of the above are now resolved via the release of 4.1.0-0 and the consequent publishing of the 15.2 to 15.3 howto that also depended on a 4.1.0-0 fix.

[2022-01-13 17:29] phillxnet commented on #81
I am currently working on this issue.

[2022-01-13 19:10] phillxnet opened #93 "Move rockstor package version to 4.1.0-0"
As of HAL9000's birthday we now have a new rockstor package version (4.1.0-0) which in turn fixes a few bugs we had in our Leap 15.3 profile but not so much in our 15.2 one which is now EOL anyway. So it would be good to start folks out on what is likely our next stable release rpm.

This issue is partly dependant on the final stable status of 4.1.0-0 which looks to be any day now. We have, as yet

[2022-01-13 19:11] phillxnet commented on #93
I am currently preparing a pr for this issue.

[2022-01-14 11:55] #81 closed

[2022-01-16 16:14] #93 closed

[2022-02-02 11:14] phillxnet opened #95 "add remarked out open-vm-tools package entry"
Thanks to forum member MRC-MBU for highlighting this. It would be nice to ease the path for those wishing to have open-vm-tools pre-installed in their custom installer. It is proposed by the issue author that we add a remarked out package entry for this so that folks can more easily add this package to their custom installers so any resulting install has it pre-installed.

Referencing @eric-marcus

[2022-02-04 15:57] FroggyFlox opened #96 "Empty output from `myip` when network connection is unavailable"
When the network connection is unavailable, the `myip` script does not return anything, which is not the most explicit. Maybe we could improve the user feedback by letting the user know that there was no IP to be returned, which is indicative of a network issue. See screenshot below:
![image](https://user-images.githubusercontent.com/30297881/152560441-11c230a2-b5d3-430c-9b45-4f95715abefe.png)

A

[2022-02-16 08:26] RlndVt opened #97 "mkdosfs missing while building ARM64EFI on a JeOS Raspberry Pi4"
Hi,

A quick issue I ran into while building the ARM64EFI image on a JeOS install of Raspbery Pi4:

[code]

`dosfstools` should be added to the list [here](https://github.com/rockstor/rockstor-installer#for-a-jeos-leap-153-host).

(`dosfstools` gets pulled in as a recommended package, but a system can be configured to not pull in recommended package. Better to add it as a required package.)

[2022-02-25 17:52] #97 closed

[2022-02-26 12:07] phillxnet opened #100 "Add nomodeset to our default x86_64 kernel options"
Thanks to forum member ajk for most recently highlighting an AMD graphics show-stopper we may be able to easily address.

We have had a few forum reports indicating the need for nomodeset (assuming function over form), and that the by-hand addition of this option via grub 'e' option is not, within our installer at-least, carried over to the initram instance.

It is proposed that we adopt this opti

[2022-02-27 11:07] phillxnet opened #101 "Explicit use of pip3 in boxbuild instructions"
Thanks to @Hooverdan96 for reporting on the forum a pip python2 default issue in our boxbuild instructions. It is proposed that we specify the use of pip3 as some OS's still have a pip / pip3 split for python2 / python3 relevance.

Forum reference: https://forum.rockstor.com/t/building-opensuse-installer-with-kernel-backport-4-1-0-0-not-successfully-installing-solved/8295/4

[2022-02-27 11:08] phillxnet commented on #101
It may be that some distros do not have a pip3, we can additionally have a note to this effect.

[2022-02-27 19:22] Hooverdan96 commented on #101
@phillxnet, I can create a draft of the doc changes, and then we can expand/change as necessary. For me, the virtual environment had actually both pip and pip3 available in the directory it creates during the first command, but you are right, that might be different for other distros.

[2022-02-27 19:55] Hooverdan96 commented on #101
Take a look at the pull request #102  contents. If this is too verbose, and should just have a quick mention about pip vs. pip3 I can compress.

[2022-02-27 20:09] Hooverdan96 opened #103 "Box Build method inside a Virtual Machine: cannot write directly to shared host folder"
When using kiwi's box build method inside a Virtual Machine (using Virtualbox), it seems that specifying an output directory that points to a shared folder (between guest and host OS) is not possible.
This constraint applies to the box build method using the classic VM approach as well as using Vagrant in combination with the box build.

It might be related to this, but I am not sure:

http://osin

[2022-02-28 09:02] phillxnet commented on #103
@Hooverdan96 Thanks for reporting this. Much appreciated. I'm currently favouring your:

brute force approach. This is more a 'keeping it simple' approach if that can even be a thing with a virtual host mount within a VM building an OS installer using another VM 'box'. This way we depend on less 'special' options and go more with the flow of what works now and is likely less brittle to the changin

[2022-02-28 10:07] #101 closed

[2022-02-28 20:12] Hooverdan96 commented on #103
Sounds good. I will create a PR for updating the documentation. I will do that as soon as I have worked out (or abandoned :) ) the Vagrant approach in the next few days. If I figure it out, I will create a separate issue/PR for that naturally, but that should inform this Issue as well.

[2022-03-03 01:20] Hooverdan96 opened #104 "Switch Vagrant method to Box Build Method"
Since Vagrant boxes are not always quite up to date with the mainline images, use build-box method of kiwi-ng to make the custom building less error prone.

This also involve switching back to the opensuse vagrant box (leaving the option for bento-based in place in the vagrantfile comments)

[2022-03-03 20:57] Hooverdan96 commented on #103
Feel free to suggest other ways to document this.

[2022-03-03 20:58] Hooverdan96 commented on #104
This switch still only works for x86_64 since I didn't have any hardware to test an installer built this way for the Pi or other aarch64 devide...

[2022-03-04 10:52] phillxnet commented on #103
@Hooverdan96 You pr is great. Thanks. I've now reviewed with a minor change suggested.

Re moving to semantic formatting. We already do this in our website material and post my review I realised we haven't gone that way yet here in the readme.md. But lets see how it looks in GitHub anyway (as a mix) and we can later move the entire readme whole-sale if it renders OK. I think it makes for easier ed

[2022-03-04 11:10] #104 closed

[2022-03-05 17:17] #103 closed

[2022-03-18 19:42] phillxnet commented on #85
Added ntfs-3g as per the consensus in the following forum thread:

https://forum.rockstor.com/t/mount-media-unknown-filesystem-type-ntfs-hint-possibly-blacklisted-see-mount-8/8328/6

On the large side but particularly valuable for on-boarding new folks by-hand mounting external drives from the MS world.

[2022-05-12 09:37] phillxnet opened #107 "script for custom uboot creation to support Odroid HC4"
Forum member aquada has expressed interest in testing his HC4 for Rockstor compatibility. @mcbridematt has offered key insights into how we might enable booting on this and related hardware. Essentially a signed uboot instance with accompanying firmware files is required and there are potentially licencing concerns regarding our re-distribution of the tools and resulting firmware files. But we cou

[2022-05-12 10:06] phillxnet commented on #107
Note from the open source tools available here:
https://github.com/LibreELEC/amlogic-boot-fip#readme
It is thought that our target HC4 is of the type: G12A
Reference:
"https://github.com/angerman/meson64-tools (developed for G12B, should work on G12A & SM1)"

[2022-06-29 05:25] BeardedTek opened #108 "bnx2 firmware not included"
When installing from [Rockstor-Leap15.3-generic.x86_64-4.1.0-0.install.iso](https://rockstor.com/downloads/installer/leap/15.3/x86_64/Rockstor-Leap15.3-generic.x86_64-4.1.0-0.install.iso) on a Dell PowerEdge T410 with Broadcom 5716 dual nic.

It appears the firmware is not included and can be obtained via the package kernel-firmware-bnx2-20220607-35.1.noarch.rpm from openSUSE 15.3  Without this in

[2022-06-29 10:42] phillxnet commented on #108
@BeardedTek Thanks for the info on this one. Are you aware of the license on this firmware? I.e. if it is permissible for us to redistribute then I don't see why we can't just add it to our list of pre-installed rpms used during the installer build.

For an alternative approach in the future you could, if we haven't included this rpm by then, just add this rpm to the list of those defined in the i

[2022-06-29 15:05] BeardedTek commented on #108
I just double checked and the driver is GPL.

From https://github.com/torvalds/linux/blob/master/drivers/net/ethernet/broadcom/bnx2.c

/* bnx2.c: QLogic bnx2 network driver.
 *
 * Copyright (c) 2004-2014 Broadcom Corporation
 * Copyright (c) 2014-2015 QLogic Corporation
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public Licens

[2022-06-29 15:22] phillxnet commented on #108
@BeardedTek  Nice find.

However it is not the driver we are concerned with here but it's associated firmware. Or rather the firmware associated with the card that presumably the kernel driver relies upon.

There should be licence info attached to the firmware package you mentioned having to install.

[2022-06-29 15:47] BeardedTek commented on #108
From https://opensuse.pkgs.org/15.3/opensuse-oss-x86_64/kernel-firmware-bnx2-20210208-2.4.noarch.rpm.html

License: SUSE-Firmware AND GPL-2.0-only AND GPL-2.0-or-later AND MIT

[2022-06-30 10:37] phillxnet commented on #108
@BeardedTek
Re:

Sorted.

Thanks for looking that up. Do you fancy testing this package's addition to our installer config and doing a test build/install of the resulting installer to confirm you then have function out-of-the-box? If so do feel free to submit a pull request of the same as we then have attribution for this addition. Should just be a single line addition on first glance.

Thanks aga

[2022-06-30 15:21] BeardedTek commented on #108
From https://opensuse.pkgs.org/15.3/opensuse-oss-x86_64/kernel-firmware-bnx2-20210208-2.4.noarch.rpm.html

License: SUSE-Firmware AND GPL-2.0-only AND GPL-2.0-or-later AND MIT

Normally I'd jump all over it, however, this is a very busy week. Alaska in the summertime is when 80% of the work needs to be done. In a about 8 days or so I should have the time.  As long as the firmware ends up in /lib/f

[2022-07-14 19:00] phillxnet opened #109 "Correct unedited-default version number to reflect rockstor package version"
Thanks to forum member soyasi for helping to highlight this bug. We currently have a default file version of 4.0.8 via:
[code]
entries that do not agree with our more recently updated rockstor package version specified:

[code]

Please update the following forum thread upon this issues resolution:
https://forum.rockstor.com/t/diferencia-de-version-entre-la-iso-de-la-web-y-si-la-genero-yo-mismo/844

[2022-07-17 09:06] phillxnet commented on #82
Linking to another upstream issue, this time for CentOS Stream 9 (as apposed to our openSUSE Leap 15.3 base), where UEFI fails to boot. This time it shares our expandable OEM install profile:

"efibootmgr is not called on the OEM expandable image" https://github.com/OSInside/kiwi/issues/2140

Apologies again if this is just noise. But we are still struggling with this one.

As we have set/known pa

[2022-07-21 11:19] phillxnet commented on #85
## ntfs-3g additional dependency details
[code]

[2022-07-21 11:28] phillxnet commented on #109
Fixed by #110

[2022-07-21 11:28] #109 closed

[2022-07-21 11:29] #85 closed

[2022-07-21 11:35] phillxnet commented on #90
## Updated size cost:
[code]

[2022-07-21 12:05] #90 closed

[2022-07-21 12:12] phillxnet commented on #95
Checking at least Leap 15.3 availability in arm64
[code]

## Size cost
From the above this looks to be quite tiny actually at 5.6 MiB.

[2022-07-21 12:25] #95 closed

[2022-07-21 12:30] phillxnet commented on #91
I am currently working on this issue.

[2022-07-22 13:57] #91 closed

[2022-07-22 15:38] #100 closed

[2022-07-22 15:54] phillxnet opened #116 "remove redundant one-shot workarounds"
During early development we had issues regarding initial boot of the resulting installer. To resolve this we enacted the following one-shot systemd services:
dracut_hostonly.service: `dracut -f`
grub_config.service: `grub2-mkconfig -o /boot/grub2/grub.cfg`

It is now thought that these redundant workarounds are interfering with proper function of modern kiwi-ng.

Referencing original discussion on

[2022-07-22 16:05] phillxnet commented on #108
Confirming package name, without version, for inclusion in image:
[code]
So `kernel-firmware-bnx2` it is then.

[2022-07-22 16:08] phillxnet commented on #108
## Size cost = 10 MiB
[code]

[2022-07-22 16:15] phillxnet commented on #108
After installing kernel-firmware-bnx2 we do in-deed have the following:
[code]

[2022-07-22 16:23] phillxnet commented on #116
There has recently been some upstream changes regarding re-enabling some oem specific settings that were found to have been ineffectual.
https://documentation.suse.com/kiwi/9/single-html/kiwi/index.html#oem-customize
There has also been some recent upstream work on kexec changes.

[2022-07-22 17:25] phillxnet commented on #116
LInking to short conversation with upstream on the pr suspected to have made our `dracut -f` one-shot systemd service redundant.

https://github.com/OSInside/kiwi/pull/1269#issuecomment-555924454

[2022-07-24 06:46] BeardedTek commented on #108
This is why I love this community!  Thanks for putting this in!  I have several Dell servers with this card and this makes a world of difference for installation!

[2022-07-28 14:32] phillxnet commented on #108
@BeardedTek Hello again, we arn't quite there just yet. I was just confirming the package name to use on a recent new build of the installer. But I should be popping the required line in shortly. Once I'm done and dusted on some other outstanding installer issues.

Would be great if you could confirm the 'fix' once the new config is in place however? I'll update here once that is the case.

[2022-07-28 17:59] #116 closed

[2022-07-29 01:12] BeardedTek commented on #108
Roger that.  I have a spare server with matching config that I could spin up to confirm.

[2022-07-29 18:24] phillxnet opened #118 "Failed to kexec boot system"
Our `image="oem"` and `installiso="true"` Leap15.3.x86_64 profile currently produces an installer iso that fails to KEXEC it's way from the installer to the freshly-transferred/installed image. Resulting in the following message:

"Failed to kexec boot system" with an OK option.

![failed-kexec-boot-system](https://user-images.githubusercontent.com/2521585/181820104-93caee2c-027a-472f-98b2-4029ce0

[2022-07-30 16:40] phillxnet commented on #118
Testing an earlier install of python3-kiwi resulting in the same issue arrising:
[code]

So this version is thought to pre-date the oem reboot settings changes mentioned above.
Note that we do have different versions of kiwi-tools but still, it is though to be a relevant test.

[2022-07-30 17:36] phillxnet opened #120 "Refine oem config for our installiso x86_64 profile"
Given a recently noticed change in behaviour in our kiwi-ng upstream (#118) and some relatively recent fixes in the available options regarding oem configuration (see upstream: https://github.com/OSInside/kiwi/pull/2055), it is proposed that we enable the newly functional auto-reboot capability so that the first boot of our installed image is not via the recently dysfunctional kexec function (#118

[2022-07-30 17:48] #108 closed

[2022-07-30 17:56] phillxnet commented on #108
@BeardedTek OK, so I've now merged the propose change. So any subsequent builds of the installer will have this firmware pre-installed.

I've not rebuild our own downloadable installers just yet as we are dealing with some other changes that are required, i.e. see #118 and #120 but given them, a test build I did locally worked as intended regarding having the firmware pre-installed as detailed ear

[2022-07-30 17:59] BeardedTek commented on #108
Most certainly!  I have a few projects going at the moment.  Next week I may fire up my test server if I get things accomplished.

Thank you again for the awesomeness that is ROCKstor!

[2022-07-31 13:27] phillxnet commented on #54
Just done a quick check and recent builds do actually install the opensuse variant but it also looks like they are now identical as they share exact info. Likely one is now a link to the other.
[code]

[2022-07-31 14:25] phillxnet commented on #55
@FroggyFlox Having a quick look at this one again and it seems there was a back-track on this. See:

"Re-add suseImportBuildKey": https://github.com/OSInside/kiwi/pull/1877

If my reading of this is correct we can close this issue as the function is not longer in the to-be-deprecated list?

[2022-07-31 14:28] phillxnet commented on #55
Linking to the current code for this build-in:

https://github.com/OSInside/kiwi/blob/29b1fe0c53d9ca60afd3a871b9eab15f129fd6a2/kiwi/config/functions.sh#L157-L199

[2022-07-31 14:34] FroggyFlox commented on #55
Oh good catch... You seem to be right, indeed.
Let's thus close this.

[2022-07-31 14:34] #55 closed

[2022-07-31 16:31] #54 closed

[2022-07-31 16:57] phillxnet commented on #96
Reproducer for this issue when an existing network connection does exist:
[code]

[2022-08-20 17:40] phillxnet commented on #118
There is an upstream pull request to address this issue. We are awaiting a requested review and it's merge, if that is what happens, before closing this issue post out own tests which are tricky before package update release given the nature and location of the associated fix. I.e. the proposed upstream fix is within the initrd used by the installer itself.

[2022-08-20 19:06] phillxnet commented on #95
Linking to a related doc entry issue regarding, in part, open-vm-tools:
https://github.com/rockstor/rockstor-doc/issues/358

[2022-08-22 18:28] #96 closed

[2022-11-10 17:38] phillxnet commented on #120
I am not yet inclined to go with the suggestion here. As is, our installers have a working system (the installer kexec-ed to the installed system) at least on first boot, with which to 'fix' some outstanding uefi boot issues that affect a suspected minority of systems. See issue #82 for details and a proof on a uefi only qemu config of our installed system booting in uefi.

If we go for this auto

[2022-11-10 18:31] phillxnet opened #123 "Add Leap 15.4 profiles"
We need a new profile for our installer based on openSUSE Leap 15.4 given 15.3 is EOL on 01 Dec 2022:
https://endoflife.date/opensuse

If all is well regarding package availability, specifically our use of Legacy Python and related modules, we should promote this profile, once proven, to be our default OS base.

From a quick look it seems to be the case that there are some python 2.7 packages avai